<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Title</title>
</head>
<body>
<div class="container">
  <div class="exit-top">
  </div>

  <div class="exit-title">
      <span class="main-text">
        질문에 답해줘서<br>너무 고마워요!
      </span>
    <span class="sub-text">
        보내주신 의견 참고해서 꼭!<br>더 좋아지길 약속해요!
      </span>
  </div>
  <div class="exit-img-container">
    <img class="exit-img" src="/img/exit_01.png"/>

    <div class="exit-btn-container">
      <a class="exit-btn">종료 하기</a>
    </div>

  </div>
</div>
</body>
</html>