<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/common.css">
  <title>Title</title>
</head>
<style>

</style>
<body>
  <div class="container">
    <div class="top">
      <a class="bottom" onclick="#">
        <div class="arrow-left">
        </div>
        <span>테스트 입니다.</span>
      </a>
    </div>
    
    <!--
    <a class="arrow-left">
    </a>
    -->
    <div class="intro-title">
      <span class="text">
        우리 가게 방문 이유 확인
      </span>
      <img class="intro-image" src="../static/images/Saly-26.png"/>
    </div>
    
    <div class="sub-content intro">
      <div class="intro-sub01">
          <label>저희 카페에 방문하는 이유가 무엇인지 손님분들의 이야기를 듣고자합니다.</label>
      </div>
      <div class="intro-sub02">
        <label>성심성의껏 답변해주신 내용으로 더더욱 발전하는 카페가 될게요</label>
      </div>
    </div>
    
    <div class="footer">
      <a class="btn" href="question01.html">
        답변 렛츠 고!
      </a>
    </div>
      
  </div>
</body>
</html>