<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0, user-scalable=yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/common.css"/>
  <title>Title</title>
</head>
<style>

</style>

<body>
  <div class="container">
    <div class="top">
      <a class="bottom" onclick="">
        <div class="arrow-left">
        </div>
        <span>테스트 입니다.</span>
      </a>
    </div>
    <div class="question-title">
      <span class="text">
        Q1.<br>저희 카페에 자주 방문하는 이유가 무엇인지 알려주세요
      </span>
    </div>

    <div class="sub-content">
      <div class="img">
        <img class="question-img" src="/static/images/question_img01.png">
      </div>
      <textarea placeholder="진솔하고 자세한 답변은 너무너무 도움이 돼요!" maxlength="500"></textarea>
    </div>

    <!--
    <div class="intro-sub-layout">
      <div class="intro-sub01">
          <label>저희 카페에 방문하는 이유가 무엇인지 손님분들의 이야기를 듣고자합니다.</label>
      </div>
      <div class="intro-sub02">
        <label>성심성의껏 답변해주신 내용으로 더더욱 발전하는 카페가 될게요</label>
      </div>
    </div>-->

    <div class="footer">
      <a class="btn-bottom-left" href="/">
        이전
      </a>
      <a class="btn-bottom-right">
        다음 질문
      </a>
    </div>

  </div>
</body>

</html>
